<div class="container">
  <h2 class="mb-4">マイページ</h2>
  <p id="notice" class="text-success"><%= notice %></p>  
    <div class="row">
      <p class="font-weight-bold col-md-1">登録情報</p>
      <div class="col-md-3"><%= link_to "編集する", edit_customer_path(@customer.id), class:"btn btn-sm btn-success w-50 font-weight-bold" %></div>
    </div>
    
    <div class="row mb-4">
      <table class="table-bordered col-md-8">
        <tr>
      	  <td class="table-active", style="width: 30%">氏名</td>
      	  <td style="width: 70%">
      	      <%= @customer.last_name %>
      	      <%= @customer.first_name %>
      	  </td>
        </tr>
        <tr>
      	  <td class="table-active">カナ</td>
      	  <td>
      	      <%= @customer.last_name_kana %>
      	      <%= @customer.first_name_kana %>
      	  </td>
        </tr>
        <tr>
      	  <td class="table-active">郵便番号</td>
      	  <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
      	  <td class="table-active">住所</td>
      	  <td><%= @customer.address %></td>
        </tr>
        <tr>
      	  <td class="table-active">電話番号</td>
      	  <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
      	  <td class="table-active">メールアドレス</td>
      	  <td><%= @customer.email %></td>
        </tr>
      </table>
    </div>
    
    <div class="row">
        <p class="font-weight-bold col-md-1">配送先</p>
        <div class="col-md-3"><%= link_to "一覧を見る", addresses_path(@customer.id), class:"btn btn-sm btn-info w-50 font-weight-bold" %></div>
    </div>
    <div>
    <div class="row">  
        <p class="font-weight-bold col-md-1">注文履歴</p>
        <div class="col-md-3"><%= link_to "一覧を見る", orders_path, class:"btn btn-sm btn-info w-50 font-weight-bold" %></div>
    </div>
  </div>
</div>