<h2>商品新規登録</h2>
    <%= form_with model: @item, url: admin_items_path, local: true do |f| %>
        <div class="form-group">
            <label for="item_image">商品画像</label>
            <%= f.file_field :image_id, id:"item_image", placeholder: "ファイルを選択", accept: "image/*", class:"form-control-file item_image" %>
          </div>
        <div class="form-group">
            <label for="item_name">商品名</label>
               <div class="item_name"><%= f.text_field :name, placeholder: "商品名" %></div>
        </div>
        <div class="form-group">
            <label for="item_introduction">商品名</label>
               <div class="item_introduction"><%= f.text_area :introduction, size: "30x4", placeholder: "ここに説明文を記述します" %></div>
        </div>
        <div class="form-group">
            <label for="item_genre">ジャンル</label>
               <div class="item_genre"><%= f.collection_select(:genre_id, @genres, :id, :name) %></div>
        </div>
        <div class="form-group">
            <label for="item_price">税抜価格</label>
               <div class="item_price"><%= f.text_field :price, placeholder: "1000" %>円</div>
        </div>
        <div class="form-group">
            <label for="item_stastus">販売ステータス</label>
               <div class="item_stastus">
                   <%= f.radio_button :is_active, "true" %>販売中
                   <%= f.radio_button :is_active, "false" %>販売停止中
               </div>
        </div>
            <%= f.submit '新規登録', class:'btn btn-success' %>
    <% end %>
