<div class="container">
  <div class="row">
    <h2 class="mb-5">商品詳細</h2>
    <% if @cart_item.errors.any? %>
      <%= @cart_item.errors.count %>件のエラーが発生しました
      <ul>
        <% @cart_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="row">
    <div class="col-5">
      <div>
         <%= image_tag @item.get_item_image(300,300) %>
      </div>
    </div>
    <div class="col-7">
      <table>
        <tr>
      	  <td class="p-2">商品名</td>
      	  <td class="p-2"><%= @item.name %></td>
        </tr>
        <tr>
      	  <td class="p-2">商品説明</td>
      	  <td class="p-2"><%= @item.introduction %></td>
        </tr>
        <tr >
      	  <td class="p-2">ジャンル</td>
      	  <td class="p-2"><%= @item.genre.name %></td>
        </tr>
        <tr>
      	  <td class="p-2">
      	    税込価格<br>
      	    (税抜価格)
    	    </td>
      	  <td class="p-2">
      	    <%= (@item.price*1.1).floor %>
      	    (<%= @item.price %>)円
    	    </td>
        </tr>
        <tr>
      	  <td class="p-2", valign="top">販売ステータス</td>
      	  <td class="p-2">
  	          <% if @item.is_active == true %>
                <div class="text-success font-weight-bold"><%= "販売中" %></div>
            　<% else %>
                <div class="text-secondary font-weight-bold"><%= "販売停止中" %></div>
            　<% end %>
      	  </td>
        </tr>
      </table>
      <div  class="m-5">
        <%= link_to "　編集する　", edit_admin_item_path(@item.id), class:"btn btn-success font-weight-bold" %>
      </div>
    </div>
  </div>
</div>