<div class="container">
  <div class="row">
    <h2>商品詳細</h2>
  </div>
  <div class="row">
    <div class="col-5">
      <div>
         <%= image_tag @item.get_item_image(300,300) %>
      </div>
    </div>
    <div class="col-7">
      <table>
        <tr>
      	  <td class="p-1">商品名</td>
      	  <td class="p-1"><%= @item.name %></td>
        </tr>
        <tr>
      	  <td class="p-1">商品説明</td>
      	  <td class="p-1"><%= @item.introduction %></td>
        </tr>
        <tr >
      	  <td class="p-1">ジャンル</td>
      	  <td class="p-1"><%= @item.genre.name %></td>
        </tr>
        <tr>
      	  <td class="p-1">
      	    税込価格<br>
      	    (税抜価格)
    	    </td>
      	  <td class="p-1">
      	    <%= (@item.price*1.1).floor %>
      	    (<%= @item.price %>)円
    	    </td>
        </tr>
        <tr>
      	  <td class="p-1">販売ステータス</td>
      	  <td class="p-1">
  	          <% if @item.is_active == true %>
                  <%= "販売中" %>
              　<% else %>
                  <%= "販売停止中" %>
              　<% end %>
      	  </td>
        </tr>
      </table>
      <div  class="m-5">
        <%= link_to "　編集する　", edit_admin_item_path(@item.id), class:"btn btn-success" %>
      </div>
    </div>
  </div>
</div>