<div class="container">
<h2 class="mb-5">配送先編集</h2>
<p id="alert" class="text-danger"><%= alert %></p>
    <%= form_with model: @address, url: address_path, method: :patch, local: true do |f| %>
        <div>
            <%= f.hidden_field :customer_id, :value => current_customer.id %>
        </div>
        <div class="row form-group">
            <label for="address_postal_code", class="col-md-4">郵便番号（ハイフンなし）</label>
            <div class="postal_code col-md-8">
                <div class="row"><%= f.text_field :postal_code, class:"col-md-4" %></div>
            </div>
        </div>
        <div class="row form-group">
            <label for="address_address", class="col-md-4">住所</label>
               <div class="address_address col-md-8">
                   <div class="row"><%= f.text_field :address, class:"col-md-8" %></div>
               </div>
        </div>
        <div class="row form-group">
            <label for="address_name", class="col-md-4">宛名</label>
            <div class="address_name col-md-8">
                <div class="row">
                    <%= f.text_field :name, class:"col-md-4" %>
                    <%= f.submit '変更内容を保存', class:'btn btn-success offset-md-4 font-weight-bold' %>
                </div>
            </div>
        </div>
    <% end %>
</div>