<h2>注文情報入力</h2>
    <%= form_with model: @order, url: confirm_path, method: :post, local: true do |f| %>
        <div class="form-group">
            <label for="order_payment_method">支払方法</label>
            <div class="order_payment_method">
                <div>
                    <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
                    <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
                </div>
                <div>
                    <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
                    <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="order_address">お届け先</label>
            <div class="order_address">
                <div>
                    <%= f.radio_button :select_address, "0", checked: "checked" %>
                    <%= f.label :select_address, "ご自身の住所" %>
                    <div>
                        〒<%= current_customer.postal_code %> <%= current_customer.address %>
                    </div>
                    <div>
                        <%= current_customer.last_name %><%= current_customer.first_name %>
                    </div>
                </div>
                <div>
                    <%= f.radio_button :select_address, "1" %>
                    <%= f.label :select_address, "登録済住所から選択" %>
                    <div>
                        <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %>
                    </div>
                </div>
                <div>
                    <%= f.radio_button :select_address, "2"  %>
                    <%= f.label :select_address, "新しいお届け先" %>
                    <div class="order_new_postal_code">
                        <%= f.label :postal_code, "郵便番号（ハイフンなし）" %> 
                        <%= f.text_field :postal_code %>
                    </div>
                    <div class="order_new_address">
                       <%= f.label :address, "住所" %> 
                       <%= f.text_field :address %>
                    </div>
                    <div class="order_new_name">
                        <%= f.label :name, "宛名" %> 
                       <%= f.text_field :name %>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <%= f.submit '確認画面に進む', class:'btn btn-sm btn-info' %>
        </div>
    <% end %>