<div class="container">
  <h2 class="mb-4">商品一覧</h2>
  <div class="row">
  <% @items.each do |item| %>
    <div class="col-md-3 mb-3">
      <div class="card h-100">
        <%= link_to item_path(item.id),style: "color: black;", data: {"turbolinks" => false} do %>
          <div class="card-img-top"><%= image_tag item.get_item_image(150,150) %></div>
          <div class="card-title"><%= item.name %></div>
          <div class="card-price">¥<%= item.price.to_s(:delimited) %></div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="mx-auto"><%= paginate @items %></div>
  </div>
</div>
  